
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6" *ngFor="let data of about">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{ data.heading }}
              </h2>
            </div>
            <p>{{ data.desc }}</p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>